@import url(../../assets/fonts/EquitanSans/main.scss);
*{
    font-family: EQS;
    font-weight: 400;
}
body{
    position: relative;
    margin: 0;
}

.sidebar_container{
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    width: 300px;
    height: 100vh;
    padding-inline:1rem ;
    position: fixed;
    padding-block-start:1.5rem ;
    display: flex;
    flex-direction: column;

    .sidebar_content{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .sidebar_item{
            padding: 1rem;
            border-radius: 20px;
            display: flex;
            align-items: center;
            gap: 1rem;
            .logo{   
                font-size: 1.3rem;
            }
            font-size: 1.1rem;
            font-weight: 800;
            color:#696969 ;
            &:hover{
                background-color:#e4e4e4 ;
                color: #5a1aed;
            }
            &.active{
                background-color: #5a1aed;
                color: white;
            }
        }
        .primary, .secondary{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    .divider{
        height: 1px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #696969;
        position: relative;
        margin-bottom: .3rem;
        span{
            font-weight: 800;
            background-color: #fff;
            display: block;
            padding: .2rem .5rem;
            position: absolute;
            top: -12px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}